<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
        <form-logo></form-logo>

                <h1 class="text-center mb-4">Aviso de Privacidad</h1>

                <p>
                    En NgLifeCounter, estamos comprometidos a proteger tu privacidad. Al registrarte en nuestro sitio, aceptas los términos de este aviso de privacidad.
                </p>

                <h3>Información que recopilamos</h3>
                <p>
                    Solo recopilamos la siguiente información personal:
                </p>
                <ul>
                    <li>Nombre</li>
                    <li>Apellido</li>
                    <li>Correo electrónico (como medio de contacto)</li>
                    <li>IP (para prevención de ciber ataques)</li>

                </ul>

                <h3>Seguridad de la información</h3>
                <p>
                    Tu información personal se almacena de manera segura en nuestra base de datos, protegida por accesos autorizados. Nos comprometemos a garantizar la confidencialidad y seguridad de tus datos.
                </p>

                <h3>Aceptación</h3>
                <p>
                    Al registrarte en nuestro sitio, confirmas que has leído y comprendido nuestro aviso de privacidad.
                </p>

                <h3>Proyecto Open Source</h3>
                <p>
                    Este proyecto ha sido desarrollado como open source y el código fuente está disponible en GitHub. 
                    <a href="https://github.com/OpenSourceRvProjects/ngLifeCounter.Code" target="_blank">Puedes encontrar el repositorio aqui</a>.
                </p>

                <p class="text-muted text-center mt-4">
                    Última actualización: 09 Marzo 2024
                </p>
            </div>
        </div>
    </div>