################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ngLifeCounter.System/ngLifeCounter.Code/appsettings.prod.json
