################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ngLifeCounter.System/ngLifeCounter.Code/appsettings.prod.json
/ngLifeCounter.System/ngLifeCounter.Code/appsettings.uat.json
/ngLifeCounter.System/.vs
/ngLifeCounter.System/ngLifeCounter.Backend/bin/Debug/net8.0/ngLifeCounter.Backend.deps.json
/ngLifeCounter.System/ngLifeCounter.Backend/bin/Debug/net8.0/ngLifeCounter.Backend.dll
/ngLifeCounter.System/ngLifeCounter.Backend/bin/Debug/net8.0/ngLifeCounter.Backend.pdb
/ngLifeCounter.System/ngLifeCounter.Backend/bin/Debug/net8.0/ngLifeCounter.Constants.dll
/ngLifeCounter.System/ngLifeCounter.Backend/bin/Debug/net8.0/ngLifeCounter.Constants.pdb
/ngLifeCounter.System/ngLifeCounter.Backend/bin/Debug/net8.0/ngLifeCounter.Data.dll
/ngLifeCounter.System/ngLifeCounter.Backend/bin/Debug/net8.0/ngLifeCounter.Data.pdb
/ngLifeCounter.System/ngLifeCounter.Backend/bin/Debug/net8.0/ngLifeCounter.EmailSender.dll
/ngLifeCounter.System/ngLifeCounter.Backend/bin/Debug/net8.0/ngLifeCounter.EmailSender.pdb
/ngLifeCounter.System/ngLifeCounter.Backend/bin/Debug/net8.0/ngLifeCounter.Models.dll
/ngLifeCounter.System/ngLifeCounter.Backend/bin/Debug/net8.0/ngLifeCounter.Models.pdb
/ngLifeCounter.System/ngLifeCounter.Backend/bin/Debug/net8.0/ngLifeCounter.Security.dll
/ngLifeCounter.System/ngLifeCounter.Backend/bin/Debug/net8.0/ngLifeCounter.Security.pdb
/ngLifeCounter.System/ngLifeCounter.Backend/obj/ngLifeCounter.Backend.csproj.nuget.dgspec.json
/ngLifeCounter.System/ngLifeCounter.Backend/obj/ngLifeCounter.Backend.csproj.nuget.g.props
/ngLifeCounter.System/ngLifeCounter.Backend/obj/project.assets.json
/ngLifeCounter.System/ngLifeCounter.Backend/obj/project.nuget.cache
*.Up2Date
/ngLifeCounter.System/ngLifeCounter.Backend/obj/Debug/net8.0/ngLifeCounter.Backend.AssemblyInfo.cs
/ngLifeCounter.System/ngLifeCounter.Backend/obj/Debug/net8.0/ngLifeCounter.Backend.AssemblyInfoInputs.cache
/ngLifeCounter.System/ngLifeCounter.Backend/obj/Debug/net8.0/ngLifeCounter.Backend.assets.cache
/ngLifeCounter.System/ngLifeCounter.Backend/obj/Debug/net8.0/ngLifeCounter.Backend.csproj.AssemblyReference.cache
/ngLifeCounter.System/ngLifeCounter.Backend/obj/Debug/net8.0/ngLifeCounter.Backend.csproj.CoreCompileInputs.cache
/ngLifeCounter.System/ngLifeCounter.Backend/obj/Debug/net8.0/ngLifeCounter.Backend.csproj.FileListAbsolute.txt
/ngLifeCounter.System/ngLifeCounter.Backend/obj/Debug/net8.0/ngLifeCounter.Backend.dll
/ngLifeCounter.System/ngLifeCounter.Backend/obj/Debug/net8.0/ngLifeCounter.Backend.GeneratedMSBuildEditorConfig.editorconfig
/ngLifeCounter.System/ngLifeCounter.Backend/obj/Debug/net8.0/ngLifeCounter.Backend.pdb
/ngLifeCounter.System/ngLifeCounter.Backend/obj/Debug/net8.0/ngLifeCounter.Backend.sourcelink.json
/ngLifeCounter.System/ngLifeCounter.Backend/obj/Debug/net8.0/ref/ngLifeCounter.Backend.dll
/ngLifeCounter.System/ngLifeCounter.Backend/obj/Debug/net8.0/refint/ngLifeCounter.Backend.dll
/ngLifeCounter.System/ngLifeCounter.Constants/bin/Debug/net8.0/ngLifeCounter.Constants.deps.json
/ngLifeCounter.System/ngLifeCounter.Constants/bin/Debug/net8.0/ngLifeCounter.Constants.dll
/ngLifeCounter.System/ngLifeCounter.Constants/bin/Debug/net8.0/ngLifeCounter.Constants.pdb
/ngLifeCounter.System/ngLifeCounter.Constants/bin/Debug/net8.0/ngLifeCounter.Models.dll
/ngLifeCounter.System/ngLifeCounter.Constants/bin/Debug/net8.0/ngLifeCounter.Models.pdb
/ngLifeCounter.System/ngLifeCounter.Constants/obj/Debug/net8.0/ref/ngLifeCounter.Constants.dll
/ngLifeCounter.System/ngLifeCounter.Constants/obj/Debug/net8.0/refint/ngLifeCounter.Constants.dll
/ngLifeCounter.System/ngLifeCounter.Constants/obj/Debug/net8.0/ngLifeCounter.Constants.AssemblyInfo.cs
/ngLifeCounter.System/ngLifeCounter.Constants/obj/Debug/net8.0/ngLifeCounter.Constants.AssemblyInfoInputs.cache
/ngLifeCounter.System/ngLifeCounter.Constants/obj/Debug/net8.0/ngLifeCounter.Constants.assets.cache
/ngLifeCounter.System/ngLifeCounter.Constants/obj/Debug/net8.0/ngLifeCounter.Constants.csproj.AssemblyReference.cache
/ngLifeCounter.System/ngLifeCounter.Constants/obj/Debug/net8.0/ngLifeCounter.Constants.csproj.BuildWithSkipAnalyzers
/ngLifeCounter.System/ngLifeCounter.Constants/obj/Debug/net8.0/ngLifeCounter.Constants.csproj.CoreCompileInputs.cache
/ngLifeCounter.System/ngLifeCounter.Constants/obj/Debug/net8.0/ngLifeCounter.Constants.csproj.FileListAbsolute.txt
/ngLifeCounter.System/ngLifeCounter.Constants/obj/Debug/net8.0/ngLifeCounter.Constants.dll
/ngLifeCounter.System/ngLifeCounter.Constants/obj/Debug/net8.0/ngLifeCounter.Constants.GeneratedMSBuildEditorConfig.editorconfig
/ngLifeCounter.System/ngLifeCounter.Constants/obj/Debug/net8.0/ngLifeCounter.Constants.pdb
/ngLifeCounter.System/ngLifeCounter.Constants/obj/Debug/net8.0/ngLifeCounter.Constants.sourcelink.json
/ngLifeCounter.System/ngLifeCounter.Constants/obj/ngLifeCounter.Constants.csproj.nuget.dgspec.json
/ngLifeCounter.System/ngLifeCounter.Constants/obj/ngLifeCounter.Constants.csproj.nuget.g.props
/ngLifeCounter.System/ngLifeCounter.Constants/obj/project.assets.json
/ngLifeCounter.System/ngLifeCounter.Constants/obj/project.nuget.cache
/ngLifeCounter.System/ngLifeCounter.Data/obj/Debug/net8.0/ngLifeCounter.Data.genruntimeconfig.cache
/ngLifeCounter.System/ngLifeCounter.Data/obj/Debug/net8.0/ngLifeCounter.Data.pdb
/ngLifeCounter.System/ngLifeCounter.Data/obj/Debug/net8.0/ngLifeCounter.Data.sourcelink.json
/ngLifeCounter.System/ngLifeCounter.Data/obj/ngLifeCounter.Data.csproj.nuget.dgspec.json
/ngLifeCounter.System/ngLifeCounter.Data/obj/ngLifeCounter.Data.csproj.nuget.g.props
/ngLifeCounter.System/ngLifeCounter.Data/obj/project.assets.json
/ngLifeCounter.System/ngLifeCounter.Data/obj/project.nuget.cache
/ngLifeCounter.System/ngLifeCounter.Data/obj/Debug/net8.0/ngLifeCounter.Data.csproj.CoreCompileInputs.cache
/ngLifeCounter.System/ngLifeCounter.Data/obj/Debug/net8.0/ngLifeCounter.Data.csproj.FileListAbsolute.txt
/ngLifeCounter.System/ngLifeCounter.Data/obj/Debug/net8.0/ngLifeCounter.Data.dll
/ngLifeCounter.System/ngLifeCounter.Data/obj/Debug/net8.0/ngLifeCounter.Data.GeneratedMSBuildEditorConfig.editorconfig
/ngLifeCounter.System/ngLifeCounter.Data/bin/Debug/net8.0/ngLifeCounter.Data.dll
/ngLifeCounter.System/ngLifeCounter.Data/bin/Debug/net8.0/ngLifeCounter.Data.pdb
/ngLifeCounter.System/ngLifeCounter.Data/obj/Debug/net8.0/ngLifeCounter.Data.AssemblyInfo.cs
/ngLifeCounter.System/ngLifeCounter.Data/obj/Debug/net8.0/ngLifeCounter.Data.AssemblyInfoInputs.cache
/ngLifeCounter.System/ngLifeCounter.Data/obj/Debug/net8.0/ngLifeCounter.Data.assets.cache
/ngLifeCounter.System/ngLifeCounter.Data/obj/Debug/net8.0/ref/ngLifeCounter.Data.dll
/ngLifeCounter.System/ngLifeCounter.Data/obj/Debug/net8.0/refint/ngLifeCounter.Data.dll
/ngLifeCounter.System/ngLifeCounter.EmailSender/bin/Debug/net8.0/ngLifeCounter.EmailSender.deps.json
/ngLifeCounter.System/ngLifeCounter.EmailSender/bin/Debug/net8.0/ngLifeCounter.EmailSender.dll
/ngLifeCounter.System/ngLifeCounter.EmailSender/bin/Debug/net8.0/ngLifeCounter.EmailSender.pdb
/ngLifeCounter.System/ngLifeCounter.EmailSender/bin/Debug/net8.0/ngLifeCounter.Models.dll
/ngLifeCounter.System/ngLifeCounter.EmailSender/bin/Debug/net8.0/ngLifeCounter.Models.pdb
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/ngLifeCounter.EmailSender.AssemblyInfo.cs
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/ngLifeCounter.EmailSender.AssemblyInfoInputs.cache
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/ngLifeCounter.EmailSender.assets.cache
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/ngLifeCounter.EmailSender.csproj.AssemblyReference.cache
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/ngLifeCounter.EmailSender.csproj.BuildWithSkipAnalyzers
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/ngLifeCounter.EmailSender.csproj.CoreCompileInputs.cache
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/ngLifeCounter.EmailSender.csproj.FileListAbsolute.txt
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/ngLifeCounter.EmailSender.dll
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/ngLifeCounter.EmailSender.GeneratedMSBuildEditorConfig.editorconfig
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/ngLifeCounter.EmailSender.GlobalUsings.g.cs
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/ngLifeCounter.EmailSender.pdb
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/ngLifeCounter.EmailSender.sourcelink.json
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/ref/ngLifeCounter.EmailSender.dll
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/Debug/net8.0/refint/ngLifeCounter.EmailSender.dll
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/ngLifeCounter.EmailSender.csproj.nuget.dgspec.json
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/ngLifeCounter.EmailSender.csproj.nuget.g.props
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/ngLifeCounter.EmailSender.csproj.nuget.g.targets
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/project.assets.json
/ngLifeCounter.System/ngLifeCounter.EmailSender/obj/project.nuget.cache
/ngLifeCounter.System/ngLifeCounter.Models/obj/Debug/net8.0/ngLifeCounter.Models.GeneratedMSBuildEditorConfig.editorconfig
/ngLifeCounter.System/ngLifeCounter.Models/obj/Debug/net8.0/ngLifeCounter.Models.sourcelink.json
/ngLifeCounter.System/ngLifeCounter.Models/obj/ngLifeCounter.Models.csproj.nuget.dgspec.json
/ngLifeCounter.System/ngLifeCounter.Models/obj/ngLifeCounter.Models.csproj.nuget.g.props
/ngLifeCounter.System/ngLifeCounter.Models/obj/project.assets.json
/ngLifeCounter.System/ngLifeCounter.Models/obj/Debug/net8.0/ngLifeCounter.Models.AssemblyInfo.cs
/ngLifeCounter.System/ngLifeCounter.Models/obj/Debug/net8.0/ngLifeCounter.Models.AssemblyInfoInputs.cache
/ngLifeCounter.System/ngLifeCounter.Models/obj/Debug/net8.0/ngLifeCounter.Models.assets.cache
/ngLifeCounter.System/ngLifeCounter.Models/obj/Debug/net8.0/ngLifeCounter.Models.csproj.AssemblyReference.cache
/ngLifeCounter.System/ngLifeCounter.Models/obj/Debug/net8.0/ngLifeCounter.Models.csproj.CoreCompileInputs.cache
/ngLifeCounter.System/ngLifeCounter.Models/obj/Debug/net8.0/ngLifeCounter.Models.csproj.FileListAbsolute.txt
/ngLifeCounter.System/ngLifeCounter.Models/obj/Debug/net8.0/ngLifeCounter.Models.dll
/ngLifeCounter.System/ngLifeCounter.Models/obj/Debug/net8.0/ngLifeCounter.Models.pdb
/ngLifeCounter.System/ngLifeCounter.Models/obj/project.nuget.cache
/ngLifeCounter.System/ngLifeCounter.Models/bin/Debug/net8.0/ngLifeCounter.Models.deps.json
/ngLifeCounter.System/ngLifeCounter.Models/bin/Debug/net8.0/ngLifeCounter.Models.dll
/ngLifeCounter.System/ngLifeCounter.Models/bin/Debug/net8.0/ngLifeCounter.Models.pdb
/ngLifeCounter.System/ngLifeCounter.Models/obj/Debug/net8.0/ref/ngLifeCounter.Models.dll
/ngLifeCounter.System/ngLifeCounter.Models/obj/Debug/net8.0/refint/ngLifeCounter.Models.dll
/ngLifeCounter.System/ngLifeCounter.Security/bin/Debug/net8.0/ngLifeCounter.Models.dll
/ngLifeCounter.System/ngLifeCounter.Security/bin/Debug/net8.0/ngLifeCounter.Models.pdb
/ngLifeCounter.System/ngLifeCounter.Security/bin/Debug/net8.0/ngLifeCounter.Security.deps.json
/ngLifeCounter.System/ngLifeCounter.Security/bin/Debug/net8.0/ngLifeCounter.Security.dll
/ngLifeCounter.System/ngLifeCounter.Security/bin/Debug/net8.0/ngLifeCounter.Security.pdb
/ngLifeCounter.System/ngLifeCounter.Security/obj/Debug/net8.0/ngLifeCounter.Security.AssemblyInfo.cs
/ngLifeCounter.System/ngLifeCounter.Security/obj/Debug/net8.0/ngLifeCounter.Security.AssemblyInfoInputs.cache
/ngLifeCounter.System/ngLifeCounter.Security/obj/Debug/net8.0/ngLifeCounter.Security.csproj.AssemblyReference.cache
/ngLifeCounter.System/ngLifeCounter.Security/obj/Debug/net8.0/ngLifeCounter.Security.csproj.CoreCompileInputs.cache
/ngLifeCounter.System/ngLifeCounter.Security/obj/Debug/net8.0/ngLifeCounter.Security.dll
/ngLifeCounter.System/ngLifeCounter.Security/obj/Debug/net8.0/ngLifeCounter.Security.pdb
/ngLifeCounter.System/ngLifeCounter.Security/obj/Debug/net8.0/ref/ngLifeCounter.Security.dll
/ngLifeCounter.System/ngLifeCounter.Security/obj/Debug/net8.0/refint/ngLifeCounter.Security.dll
/ngLifeCounter.System/ngLifeCounter.Security/obj/ngLifeCounter.Security.csproj.nuget.g.props
/ngLifeCounter.System/ngLifeCounter.Security/obj/project.nuget.cache
/ngLifeCounter.System/ngLifeCounter.Security/obj/Debug/net8.0/ngLifeCounter.Security.assets.cache
/ngLifeCounter.System/ngLifeCounter.Security/obj/Debug/net8.0/ngLifeCounter.Security.csproj.FileListAbsolute.txt
/ngLifeCounter.System/ngLifeCounter.Security/obj/Debug/net8.0/ngLifeCounter.Security.GeneratedMSBuildEditorConfig.editorconfig
/ngLifeCounter.System/ngLifeCounter.Security/obj/Debug/net8.0/ngLifeCounter.Security.sourcelink.json
/ngLifeCounter.System/ngLifeCounter.Security/obj/ngLifeCounter.Security.csproj.nuget.dgspec.json
/ngLifeCounter.System/ngLifeCounter.Security/obj/project.assets.json
/ngLifeCounter.System/ngLifeCounter.Tests.Stress/bin/Debug/net8.0/CoverletSourceRootsMapping_ngLifeCounter.Tests.Stress
/ngLifeCounter.System/ngLifeCounter.Tests.Stress/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ngLifeCounter.System/ngLifeCounter.Tests.Stress/obj/Debug/net8.0/ngLifeCounter.Tests.Stress.AssemblyInfo.cs
/ngLifeCounter.System/ngLifeCounter.Tests.Stress/obj/Debug/net8.0/ngLifeCounter.Tests.Stress.AssemblyInfoInputs.cache
/ngLifeCounter.System/ngLifeCounter.Tests.Stress/obj/Debug/net8.0/ngLifeCounter.Tests.Stress.csproj.AssemblyReference.cache
/ngLifeCounter.System/ngLifeCounter.Tests.Stress/obj/ngLifeCounter.Tests.Stress.csproj.nuget.g.props
/ngLifeCounter.System/ngLifeCounter.Tests.Stress/obj/project.assets.json
/ngLifeCounter.System/ngLifeCounter.Tests.Stress/obj/project.nuget.cache
/ngLifeCounter.System/ngLifeCounter.Tests.Stress/obj/Debug/net8.0/ngLifeCounter.Tests.Stress.assets.cache
/ngLifeCounter.System/ngLifeCounter.Tests.Stress/obj/Debug/net8.0/ngLifeCounter.Tests.Stress.GeneratedMSBuildEditorConfig.editorconfig
/ngLifeCounter.System/ngLifeCounter.Tests.Stress/obj/Debug/net8.0/ngLifeCounter.Tests.Stress.GlobalUsings.g.cs
/ngLifeCounter.System/ngLifeCounter.Tests.Stress/obj/ngLifeCounter.Tests.Stress.csproj.nuget.dgspec.json
/ngLifeCounter.System/ngLifeCounter.UnitTests
/ngLifeCounter.System/ngLifeCounter.Tests.Stress/obj/ngLifeCounter.Tests.Stress.csproj.nuget.g.targets
