<div *ngIf="!processing" >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Recaídas/Eventos</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="form-container" style="margin-top: 0px;">
        <div class="container table-responsive">
            <table *ngIf="relapsesData.items.length > 0" class="table caption-top">
                <caption>Recaidas/eventos</caption>
                <thead class="table-warning">
                  <tr>
                    <th scope="col">Nombre evento</th>
                    <th scope="col">Fecha recaida</th>
                    <th></th>
                    <!-- <th>Eventos/Recaidas</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of relapsesData.items; index as i">
                    <td> {{e.eventName}}</td>
                    <td>{{e.dateString}}</td>
                  </tr>
                </tbody>
            </table>
            <div *ngIf="relapsesData.items.length == 0" style="text-align: center;">
            
                <i  class="fa fa-trophy fa-5x" style="color: #f0a608" aria-hidden="true"></i>
                <br>
                <h4 style="color: rgb(12, 75, 12);">FELICIDADES! No tienes recaidas o episodios para éste evento!</h4>
            </div>
        </div>
        
        <div>
            <hr>
            <div style="text-align: center;">
                <h4>{{counterEvent.eventName}}</h4>
            </div>
            <div *ngIf="relapsesData.timeUnit=='días'" class='plateCoin'>
                <div class='front jump'>
                  <div class='star'></div>
                  <span class='currency'>{{relapsesData.timeQuantitySinceLastIssue}}</span>
                  <div class='shapes'>
                    <div class='shape_l'></div>
                    <div class='shape_r'></div>
                    <span class='top'></span>
                    <span class='bottom'>{{relapsesData.timeUnit}}</span>
                  </div>
                </div>
                <div class='shadow'></div>
              </div>

              <div *ngIf="relapsesData.timeUnit!='días'" class='goldCoin'>
                <div class='front jump'>
                  <div class='star'></div>
                  <span class='currency'>{{relapsesData.timeQuantitySinceLastIssue}}</span>
                  <div class='shapes'>
                    <div class='shape_l'></div>
                    <div class='shape_r'></div>
                    <span class='top'></span>
                    <span class='bottom'>{{relapsesData.timeUnit}}</span>
                  </div>
                </div>
                <div class='shadow'></div>
              </div>
        </div>
       
    </div>

 
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Save click')">Cerrar</button>
      <!-- <button type="button" class="btn btn-outline-success" (click)="editSelectedCounter()">Guardar</button> -->
    </div>
</div>