<div class="container table-responsive">
    <table class="table caption-top">
        <caption>Tus contadores</caption>
        <thead class="table-success">
          <tr>
            <th scope="col">Nombre evento</th>
            <th scope="col">Fecha evento</th>
            <th style="text-align: center;" scope="col">Público</th>
            <th></th>
         
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of counterList; index as i">
            <td><a href="counter/myCounter?id={{e.id}}"> {{e.eventName}}</a></td>
            <td>{{e.dateString}}</td>
            <td style="text-align: center;"><input (change)="checkboxChange(e)" [(ngModel)]="e.isPublic" type="checkbox"></td>
            <td><app-copy-link *ngIf="e.isPublic" [counterID]="e.id"></app-copy-link></td>
          </tr>
        </tbody>
      </table>
</div>

