

<div class="backgroundLookAndFeel" style="width: auto; height: 1000px">
    <br>
    <div class="container">
    <app-environment-banner></app-environment-banner>
        <br>
        <br>

        <div *ngIf="!isPasDueLink">
            <div *ngIf="!hasID && !sendEmailProcessing && !emailSended" class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-12">
                        <div class="form-container" style="margin-top: 0px;">
                            <form-logo></form-logo>
                            <h2 class="text-center mb-4">Life Counter. Recupera tu contraseña</h2>
                            <form>

                                <div class="mb-3">
                                    <label for="email" class="form-label">Correo:</label>
                                    <input type="email" [(ngModel)]="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-register w-100" (click)="sendRecoveryEmail()">Cambiar contraseña</button>
                                </div>

                                <br>
                                <div class="col-12 text-center">
                                    <a href="/login" type="submit" >Volver a login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!hasID && sendEmailProcessing && !emailSended" class="d-flex justify-content-center align-items-center">
                <div class="col-md-4">
                    <div class="border border-3 border-warning"></div>
                    <div class="card  bg-white shadow p-5">
                        <div class="mb-4 text-center">
                            <div  class="d-flex justify-content-center">
                
                                <div style="width: 6rem; height: 6rem;" class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div class="text-center">
                            <h1>Enviando correo electrónico de recuperación</h1>
                            <p>Ésto tomara un momento</p>
                            <!-- <button class="btn btn-outline-success">Login</button> -->
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div *ngIf="emailSended" class="d-flex justify-content-center align-items-center">
                <div class="col-md-4">
                    <div class="border border-3 border-success"></div>
                    <div class="card  bg-white shadow p-5">
                        <div class="mb-4 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75"
                                fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg>
                        </div>
                        <div class="text-center">
                            <h1>Correo enviado !</h1>
                            <p>Si tu correo está en el sistema, te llegará una liga para cambiar tu contraseña.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="hasID && !changePasswordProcesing && !passwordChanged" class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-12">
                        <div class="form-container" style="margin-top: 0px;">
                            <form-logo></form-logo>

                            <h2 class="text-center mb-4">Life Counter. Crea tu nueva contraseña</h2>

                            <form>

                                <div class="mb-3">
                                    <label for="password" class="form-label">Contraseña:</label>
                                    <input type="password" [(ngModel)]="password" class="form-control" id="password" name="password" required>
                                </div>
                                <div class="mb-3">
                                    <label for="passwordConfirmation" class="form-label">Confirma contraseña:</label>
                                    <input type="password" [(ngModel)]="passwordConfirmation" class="form-control" id="passwordConfirmation" name="passwordConfirmation" required>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-register w-100" (click)="changePassword()">Recuperar password</button>
                                </div>

                                <br>
                                <div class="col-12 text-center">
                                    <a href="/login" type="submit" >Volver a login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
            <div *ngIf="hasID && changePasswordProcesing && !passwordChanged" class="d-flex justify-content-center align-items-center">
                <div class="col-md-4">
                    <div class="border border-3 border-warning"></div>
                    <div class="card  bg-white shadow p-5">
                        <div class="mb-4 text-center">
                            <div  class="d-flex justify-content-center">
                
                                <div style="width: 6rem; height: 6rem;" class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div class="text-center">
                            <h1>Cambiando tu contraseña</h1>
                            <p>Ésto tomara un momento</p>
                            <!-- <button class="btn btn-outline-success">Login</button> -->
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div *ngIf="passwordChanged" class="d-flex justify-content-center align-items-center">
                <div class="col-md-4">
                    <div class="border border-3 border-success"></div>
                    <div class="card  bg-white shadow p-5">
                        <div class="mb-4 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75"
                                fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg>
                        </div>
                        <div class="text-center">
                            <h1>Contraseña cambiada !</h1>
                            <p>Ahora puedes ingresar con tu nueva contraseña <a href="/login">aqui</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="isPasDueLink">
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-md-4">
                    <div class="border border-3 border-danger"></div>
                    <div class="card  bg-white shadow p-5">
                        <div class="mb-4 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-danger" width="75" height="75" 
                                fill="red" class="bi bi-ban" viewBox="0 0 16 16">
                                <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                              </svg>
                        </div>
                        <div class="text-center">
                            <h1>Link vencido!</h1>
                            <p>Ésta liga ya se vencio o ya fue usada.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

