
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      /*display: flex;*/
      justify-content: center;
      align-items: center;
    /*  height: 100vh;
      background-color: #f7f7f7;
      color: #333;*/
      text-align: center;
      padding-top: 50px
    }

    .container {
      background-color: #ffffff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 36px;
      margin-bottom: 10px;
      color: #e74c3c;
    }

    p {
      font-size: 18px;
      margin-bottom: 20px;
      color: #555;
    }

    .message {
      font-size: 16px;
      color: #777;
    }

    .contact-info {
      font-size: 14px;
      color: #555;
      margin-top: 20px;
    }

    .logo {
      width: 120px;
      margin-bottom: 20px;
    }

    .button {
      background-color: #e74c3c;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-size: 16px;
      margin-top: 20px;
      display: inline-block;
    }

      .button:hover {
        background-color: #c0392b;
      }
  </style>
<body>

  <div class="container">
    <form-logo></form-logo>

    <h1>App en mantenimiento!</h1>
    <p>Hemos mandado un grupo de simios y gatitos altamente capacitados a apoyar a los ingenieros a relizar el mantenimiento en el sevidor</p>
    <img [src]="img"  width="400" height="400" style=" width: 100%; max-width: 600px; height: auto;">
    <p class="message">Por favor vuelve en un rato más.</p>

  </div>

</body>
