<div class="backgroundLookAndFeel">
    <div class="container">
        <div *ngIf="processing" class="vh-100 d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="border border-3 border-primary"></div>
                <div class="card  bg-white shadow p-5">
                    <div class="mb-4 text-center">
                        <div  class="d-flex justify-content-center">
            
                            <div style="width: 6rem; height: 6rem;" class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="text-center">
                        <h1>Creando tu cuenta</h1>
                        <p>Ésto tomara un momento</p>
                        <!-- <button class="btn btn-outline-success">Login</button> -->
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div *ngIf="!processing && !isFinishRegister" class="container">
            <div class="row vh-100 d-flex justify-content-center align-items-center">
                <div class="col-md-12">
                    <div class="form-container" style="margin-top: 0px;">
                        <h2 class="text-center mb-4">Life Counter. Registro</h2>

                        <form>
                            <div class="row mb-3">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName" class="form-label">Nombre:</label>
                                    <input type="text" [(ngModel)]="registerModel.name" class="form-control" id="firstName" name="firstName" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">Apellido:</label>
                                    <input type="text" [(ngModel)]="registerModel.lastName1" class="form-control" id="lastName" name="lastName" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Correo:</label>
                                <input type="email" [(ngModel)]="registerModel.email" class="form-control" id="email" name="email" required>
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Nickname (Username)</label>
                                <input type="text" [(ngModel)]="registerModel.userName" class="form-control" id="userName" name="userName" required>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña:</label>
                                <input type="password" [(ngModel)]="registerModel.password" class="form-control" id="password" name="password" required>
                            </div>

                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirma tu contraseña:</label>
                                <input type="password" [(ngModel)]="passwordConfirmation" class="form-control" id="confirmPassword" name="confirmPassword" required>
                            </div>

                            <div class="text-center">
                                <h4 style="color: red;">{{errorMessage}}</h4>
                            </div>
                            
                            <div class="col-12">
                                        <button type="submit" class="btn btn-register w-100" (click)="registerAccount()">Registrar*</button>
                            </div>

                            <br>
                            <div class="col-12 text-center">
                                <a href="/privacy" type="submit" >*Al crear tu cuenta, aceptas nuestro aviso de privacidad</a>
                            </div>
                            <div class="col-12 text-center">
                                <a href="/login" type="submit" >¿Ya tienes cuenta? ¡Ingresa aqui!</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!processing && isFinishRegister" class="vh-100 d-flex justify-content-center align-items-center">
                <div class="col-md-4">
                    <div class="border border-3 border-success"></div>
                    <div class="card  bg-white shadow p-5">
                        <div class="mb-4 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75"
                                fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg>
                        </div>
                        <div class="text-center">
                            <h1>Gracias !</h1>
                            <p>Ya creamos tu cuenta, ingresa tu usuario y contraseña en la página de ingreso.</p>
                            <button class="btn btn-outline-success" (click)="goToLoginPage()">Login</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

