<br>
<div *ngIf="processing" class=" d-flex justify-content-center align-items-center">
  <div class="col-md-6">
      <div class="border border-3 border-success"></div>
      <div class="card  bg-white shadow p-5">
          <div class="mb-4 text-center">
              <div  class="d-flex justify-content-center">
  
                  <div style="width: 6rem; height: 6rem;" class="spinner-border text-success" role="status">
                  <span class="visually-hidden">Loading...</span>
              </div>
          </div>
          <div class="text-center">
              <h1>Cambiando contraseña...</h1>
              <p>Ésto tomara un momento</p>
          </div>
      </div>
  </div>
</div>
</div>
<br>
<div *ngIf="!processing" >
    <div class="modal-header">

      <h4 class="modal-title w-100 text-center" id="modal-basic-title">Cambiar contraseña <i class="fa fa-key"></i></h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container">
            <form>
        <form-logo></form-logo>

                <div class="mb-3">
                    <label for="currentPassword"  class="form-label">Contraseña actual</label>
                    <input type="password"   name="oldPassword" [(ngModel)]="passwordChangeModel.oldPassword" class="form-control" id="currentPassword">
                </div>
                <div class="mb-3">
                    <label for="newPassword"   class="form-label">Nueva contraseña</label>
                    <input type="password" name="newPassword"  [(ngModel)]="passwordChangeModel.newPassword" class="form-control" id="newPassword">
                </div>
                <div class="mb-3">
                    <label for="confirmPassword"   class="form-label">Confirma tu contraseña</label>
                    <input type="password" [(ngModel)]="passwordConfirm" name="passwordConfirm" class="form-control" id="confirmPassword">
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Save click')">Cancelar</button>
      <button type="button" class="btn btn-outline-success" (click)="changePassword()">Guardar</button>
    </div>
</div>