<div  class="container">

    <div *ngIf="processing" class="vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="border border-3 border-primary"></div>
            <div class="card  bg-white shadow p-5">
                <div class="mb-4 text-center">
                    <div  class="d-flex justify-content-center">
        
                        <div style="width: 6rem; height: 6rem;" class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="text-center">
                    <h1>Agregando tu evento...</h1>
                    <p>Ésto tomara un momento</p>
                    <!-- <button class="btn btn-outline-success">Login</button> -->
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <div *ngIf="!processing" class="row d-flex justify-content-center align-items-center">
        
        <div class="col-md-12">
            <div class="form-container" style="margin-top: 0px;">
                <h2 class="text-center mb-4">Agregar evento</h2>

                <form>
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label for="firstName" class="form-label">Nombre evento</label>
                            <input type="text" [(ngModel)]="newCounterEvent.eventName" class="form-control" id="firstName" name="firstName" required>
                        </div>
                        <div class="col-md-6">
                            <label for="lastName" class="form-label">Año evento:</label>
                            <input type="number" [(ngModel)]="newCounterEvent.year" class="form-control" id="lastName" name="lastName" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <!-- <div class="col-md-6 mb-3">
                            <label for="month" class="form-label">Mes evento:</label>
                            <input type="number" [(ngModel)]="newCounterEvent.month" class="form-control" id="email" name="email" required>
                        </div> -->
                        <div class="col-md-6 mb-3">
                            <label for="month" class="form-label">Mes evento:</label>
                            <select class="form-control" [(ngModel)]="selectedMonth" name="selector1">
                                <option *ngFor="let m of monthsList" [ngValue]="m">
                                  {{m.text}}
                                </option>
                             </select>

                             <!-- <select class="form-control" [(ngModel)]="selectedMonth" name="selector">
                                <option [ngValue]="i" *ngFor="let i of monthsList">{{i.monthName}}</option>
                            </select> -->
                        </div>
                        <div class="col-md-6">
                            <label for="day" class="form-label">Día evento</label>
                            <input type="number" min="1" max="31" [(ngModel)]="newCounterEvent.day" class="form-control" id="day" name="day" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label for="day" class="form-label">Hora</label>
                            <!-- <input type="number" [(ngModel)]="newCounterEvent.hour" class="form-control" id="userName" name="userName" required> -->
                            <select class="form-control" [(ngModel)]="selectedHour" name="selector2">
                                <option *ngFor="let h of hourList" [ngValue]="h">
                                  {{h.text}}
                                </option>
                             </select>
                        
                        </div>
                        <div class="col-md-6">
                            <label for="day" class="form-label">Minutos</label>
                            <input type="number" [(ngModel)]="newCounterEvent.minutes" class="form-control" id="userName" name="userName" required>
                        </div>
                    </div>

                    <div class="text-center">
                        <h4 style="color: red;">{{errorMessage}}</h4>
                    </div>
                    
                    <div class="col-12">
                                <button type="submit" class="btn btn-register w-100" (click)="addEvent()">Agregar evento</button>
                    </div>

                    <br>
                   
                </form>
            </div>
        </div>
    </div>
</div>

