
<div class="container">
<br>
    <h2 style="text-align: center;">Ambientes de prueba</h2>
    <br>
    <h5>Si estás viendo un banner color amarillo en ésta aplicación significa que estás en un ambiente de pruebas, esto quiere decir que:  </h5>

    <div>
        <ul>
          <li>La app podría entrar en mantenimiento en cualquier momento del día</li>
          <li>La app podría presentar intermitencia; volverá en un tiempo de 5 a 15 minutos</li>
          <li>Los datos ingresados podrían variar debido a las actualizaciones</li>
          <li>La información de tu cuenta podría desaparecer después de cierto tiempo de manera temporal o permanente</li>

        </ul>
      </div>

      <br>
      <h5>¿Cómo saber que no estoy en un ambiente de prueba?</h5>
      <h6>El ambiente de 'producción' estará listo en cuanto se terminen las pruebas de usuario en éste ambiente; cuando ésto suceda, se proporcionará una nueva URL y tendrás que crear nuevamente tu usuario</h6>



</div>

