body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

.form-container {
    max-width: 600px; /* Adjust the max-width as needed */
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #2c2c2c; /* Dark Green background color for the form */
    color: #fff; /* Set text color to white */
}

.btn-register {
    background-color: #007bff;
    color: #ffffff;
}

.btn-register:hover {
    background-color: #0056b3;
}
