


<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-container">
                    <h2 class="text-center mb-4">Life Counter. Registro</h2>

                    <form>
                        <div class="row mb-3">
                            <div class="col-md-6 mb-3">
                                <label for="firstName" class="form-label">Nombre:</label>
                                <input type="text" [(ngModel)]="registerModel.name" class="form-control" id="firstName" name="firstName" required>
                            </div>
                            <div class="col-md-6">
                                <label for="lastName" class="form-label">Apellido:</label>
                                <input type="text" [(ngModel)]="registerModel.lastName1" class="form-control" id="lastName" name="lastName" required>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Correo:</label>
                            <input type="email" [(ngModel)]="registerModel.email" class="form-control" id="email" name="email" required>
                        </div>

			<div class="mb-3">
                            <label for="email" class="form-label">Nickname (Username)</label>
                            <input type="text" [(ngModel)]="registerModel.userName" class="form-control" id="userName" name="userName" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" [(ngModel)]="registerModel.password" class="form-control" id="password" name="password" required>
                        </div>

                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirma tu contraseña:</label>
                            <input type="password" [(ngModel)]="passwordConfirmation" class="form-control" id="confirmPassword" name="confirmPassword" required>
                        </div>

                        <div class="text-center">
                            <h4 style="color: red;">{{errorMessage}}</h4>
                        </div>
                        
                        <div class="col-12">
                                    <button type="submit" class="btn btn-primary w-100" (click)="registerAccount()">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>