<style>
  .welcome-container {
            text-align: center;
            margin-top: 20vh;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(40, 167, 69, 0.3); /* Green shadow */
            background-color: #ffffff;
        }

        .welcome-text {
            font-size: 2.5rem;
            font-weight: bold;
            color: #343a40;
        }

        .card{
        width: 380px;
        border: none;

        }
        .border{
          border-radius:12px;
        }

        .score{

              background-color: #B9F6CA;
        }
        .heading1{
          color: #0D47A1;
        }
        .text{
          color: #0D47A1;
        }
        .relapse{
          background-color: #d97833;
        }

        .char{

          font-size: 30px;
          font-weight:700;
        }
</style>


<div class="container">
  
  <div class="container welcome-container">
    <div class="welcome-text">
        Bienvenido {{username}} a Life Counter
    </div>
</div>

<div class="d-flex justify-content-center mt-4">

  <div class="card p-3 mt-3">
     <h5 class="mt-3 mb-3 text-center">Tus números</h5>

       <div class="border p-2 rounded d-flex flex-row align-items-center">

        <div class="p-1 px-4 d-flex flex-column align-items-center score rounded">
          <!-- https://stackoverflow.com/questions/1267283/how-can-i-pad-a-value-with-leading-zeros -->
            <span class="d-block char text-success">{{countersResume.eventsCount.toString().padStart(3, "0")}}</span>
            <!-- <span class="text-success">98%</span> -->
        </div>


        <div class="ml-2 p-3">
            <h6 class="heading1">Contadores</h6>
            <!-- <span>The average page speed score is 75%</span>  -->
         </div>
       </div>



     <div class="border p-2 rounded d-flex flex-row align-items-center mt-2">
         <div class="p-1 px-4 d-flex flex-column align-items-center relapse rounded">
          <!-- https://stackoverflow.com/questions/1267283/how-can-i-pad-a-value-with-leading-zeros -->
            <span class="d-block char text-warning">{{countersResume.relapsesCount.toString().padStart(3, "0") }} </span>
               <!-- <span class="text-warning">72%</span> -->
    </div>

          <div class="ml-2 p-4">
                <h6 class="text">Recaidas</h6>
               <!-- <span>The average YSlow score is 76%</span>    -->
          </div>
         
     </div>       
      
    </div>
   
</div>
