<style>
  .welcome-container {
            text-align: center;
            margin-top: 20vh;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(40, 167, 69, 0.3); /* Green shadow */
            background-color: #ffffff;
        }

        .welcome-text {
            font-size: 2.5rem;
            font-weight: bold;
            color: #343a40;
        }
</style>


<div class="container">
  
  <div class="container welcome-container">
    <div class="welcome-text">
        Bienvenido {{username}} a Life Counter
    </div>
</div>

</div>